*.pyc
backend/venv/
backend/.venv/
backend/__pycache__/
backend/.DS_Store
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.development
backend/.env.test
backend/.env.production
backend/.env.local
backend/.env.development.local
*.db
